:root {
    --font-family-heading: "Anton", sans-serif;
    --font-family-body: "Noto Sans JP", sans-serif;
  
    --color-white: #fffefc;
    --color-black: #020911;
    --color-accent-red: #f20574;
    --color-accent-yellow: #f2e52e;
    --color-background-black: #171525;
    --color-background-navy: #030427;
    --color-form-background-yellow: #fffab9;
    --color-form-placeholder-gray: #ad9783;
    --color-form-border-red: #df6da2;
    --color-button-hover-red: #f043a5;
    --color-course-hover-yellow: #f4e877;
    --color-hero-overlay: rgba(57, 24, 111, 0.4);
    --color-course-overlay: rgba(32, 8, 19, 0.63);
  }

/* global */
*,
*::before,
*::after {box-sizing: border-box;}

body {
  margin: 0;
  font-family:var(--font-family-body)
}

img {
  display:block;
}

/* header */

.header {
  margin:0;
  padding:0;
  height: 80px;
  width:100%;
  top:0;
  left:0;
  position:fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-black);
  z-index:10;
}

.header_contents {
  display:flex;
  justify-content: center;
  align-items: center;
}

.header_logo {
  height: 50px;
}

/* hero */

.hero {  
  background-image: url(./img/hero.png);
  background-size: cover;
  width:auto;
  margin-top: 80px;
  position:relative;
}

.hero::after {
  width:100%;
  height: 100%;
  content:"";
  background-color:var(--color-hero-overlay);
  position:absolute;
  top:0;
  left:0;
}

.hero_contents {
  display:flex;
  width:100%;
  justify-content: flex-end;
  align-items: center;
  padding: 94px 220px;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap:30px;
  z-index:1
}

.hero_main_text {
  margin:0;
  font-family: var(--font-family-heading);
  font-size: 64px;
  color: var(--color-accent-yellow);
  line-height: 64px;
  letter-spacing: 0.05em;
}

.hero_main_text_pink {
  color:var(--color-accent-red)
}

.hero_sub_text {
  color:var(--color-accent-yellow);
  font-size: 16px;
  margin:0
}

/* about */
.about {
  background-color: var(--color-background-black);
  width:100%;
  color:var(--color-white);
  padding: 80px 280px;
}

.about_contents {
  display:flex;
  flex-direction:column;
  gap:40px;
  align-items: center;
  width: auto;
}

.about_title {
  display: flex;
  justify-content: center;
  margin:0;
}

.about_title_h1 {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-heading);
  font-size:32px;
  line-height: 100%;
  letter-spacing: 2%;
}

.about_title_pink {
  color:var(--color-accent-red);
  margin:0;
}

.about_title_yellow {
  color:var(--color-accent-yellow);
  margin:0;
}

.about_description {
  display:flex;
  gap:20px;
  justify-content: center;
  align-items: center;
  width:800px;
}

.about_description_text {
  font-family: var(--font-family-body);
  color: var(--color-white);
  font-size:16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin:0;
}

.about_description_picture {
  width:320px;
}

/* courses */

/* レスポンシブ対応（モバイル端末）*/

@media (max-width: 750px) {

  .header {
    height:60px,
  }

 .header_logo{
   height:30px
 }
 
 .hero_contents {
  justify-content: flex-start;
  padding: 40px 20px 32px 20px;
 }

 .about {
  padding: 0;
 }

 .about_title {
  font-size: 24px;
  width:auto;
  margin-top: 40px;
 }

 .about_description {
  gap:0;
  width:auto;
 }

 .about_description_text {
  padding: 0px 20px 40px 20px 
 }

 .about_description_picture {
  display: none;
 }
}